
.project-list {
    // I want to set it uo so that the top project has a whole row to itself
    display: grid;
    grid-template-rows: 40vw;
    grid-auto-rows: minmax(25vw, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: .4em;
}
.main-project {
    grid-area: 1 / span 2;
}
.project {
    border: solid 3px $tertiary-color-200;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-name {
    @include font-size(2);
    color: $tertiary-color-300;
}
.project-live-server, .project-repository  {
    @include font-size(1);
}
.btn {
    @include font-size(1);
    width: min-content;
    padding: 10px;
    margin: 10px;
    border: solid 3px $tertiary-color-200;
    @include button();
}
.project-photo {
    transform-origin: center;
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    margin-bottom: 1em;
}
