
body {
    background-color: $tertiary-color-50;
}
h1 {
    @include font-size(3);
}
h2 {
    @include font-size(2);
}
h3 {
    @include font-size(2);
}
p {
    @include font-size(1);
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: $secondary-color;
    color: $tertiary-color-50;
    .link {
        @include font-size(2);
        padding: .2em;
    }
}
a, .link {
    @include font-size(1);
    @include button();
}
img {
    width: 100%;
    height: 100%;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto;
    a {
        text-decoration: none;
        transition-duration: 300ms;
        color: $primary-color;
        background-color: $tertiary-color-50;
        text-decoration: underline;
        &:hover {
            color: $tertiary-color-50;
            background-color: $primary-color;
        }
        &:focus {
            outline: none;
            color: $tertiary-color-50;
            background-color: $primary-color;
        }
    }
    width: 100%;
}