
$primary-color: hsl(0, 0%, 0%);
$secondary-color: hsl(0, 0%, 100%);
$tertiary-color-50: hsl(39, 100%, 90%);
$tertiary-color-100: hsl(39, 100%, 80%);
$tertiary-color-200: hsl(39, 100%, 50%);
$tertiary-color-300: hsl(39, 100%, 20%);
$tertiary-color-350: hsl(39, 100%, 10%);
$base-font-size: 1rem;
$golden-ratio: 1.618;