
// table of contents
// 1. default stats
// 2. variables
// 3. mixins
// 4. classes
// 5. tags
// 6. animations



// 1. default stats
* {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
}

// 2. variables
$primary-color: black;
$secondary-color: white;
$tertiary-color: orange;
$base-font-size: 10px;
$golden-ratio: 1.618;


// 3. mixins
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font-size($size) {
    font-size: $base-font-size * $golden-ratio * $size;
}


// 4. classes
.project-list {
    // I want to set it uo so that the top project has a whole row to itself
    display: grid;
    grid-template-rows: 300px repeat(2, 200px);
    grid-template-columns: repeat(3, 30vw);
}
.project {
    border: solid 3px $tertiary-color;
}
.project-name {
    @include font-size(2);
}
.project-live-server {
    @include font-size(1);
}
.project-repository {
    @include font-size(1);
}

// 5. tags
img {
}

// 6. animations