html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
}

.project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vw;
      grid-template-rows: 40vw;
  grid-auto-rows: minmax(25vw, auto);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: .4rem;
}

.main-project {
  -ms-grid-row: 1;
  grid-area: 1 / span 2;
}

.project {
  border: solid 3px #ffa600;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-name {
  font-size: 3.236rem;
  color: #664200;
}

.project-live-server, .project-repository {
  font-size: 1.618rem;
}

.btn {
  font-size: 1.618rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 2rem;
  margin: 2rem;
  border: solid 3px #ffa600;
  text-decoration: none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: white;
  color: #664200;
  padding: .2rem;
}

.btn:hover {
  background-color: #664200;
  color: white;
}

.btn:focus {
  outline: none;
  background-color: #664200;
  color: white;
}

.project-photo {
  -webkit-transform-origin: center;
          transform-origin: center;
  background-size: 100% 100%;
  width: 50%;
  height: 100%;
  margin-bottom: 1em;
}

body {
  background-color: #ffedcc;
}

h1 {
  font-size: 4.854rem;
}

h2 {
  font-size: 3.236rem;
}

h3 {
  font-size: 3.236rem;
  margin: .1em 0;
}

p {
  font-size: 1.618rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  color: #ffedcc;
}

nav .link {
  font-size: 3.236rem;
  padding: .2em;
}

a, .link {
  font-size: 1.618rem;
  text-decoration: none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  background-color: white;
  color: #664200;
  padding: .2rem;
}

a:hover, .link:hover {
  background-color: #664200;
  color: white;
}

a:focus, .link:focus {
  outline: none;
  background-color: #664200;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 50px auto;
  width: 100%;
}

footer a {
  text-decoration: none;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  color: black;
  background-color: #ffedcc;
  text-decoration: underline;
}

footer a:hover {
  color: #ffedcc;
  background-color: black;
}

footer a:focus {
  outline: none;
  color: #ffedcc;
  background-color: black;
}

#project-page {
  -webkit-animation: project-page 300ms ease-in-out forwards;
          animation: project-page 300ms ease-in-out forwards;
}

#about-page {
  -webkit-animation: project-page 300ms ease-in-out forwards;
          animation: project-page 300ms ease-in-out forwards;
}

#about-page .face-picture-container {
  width: 40%;
  margin: 2rem auto 0;
}

#about-page img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

@-webkit-keyframes project-page {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes project-page {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@media only screen and (min-width: 240px) and (max-width: 720px) {
  .project-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header {
    font-size: 3.236rem;
  }
  .project {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem;
    margin: 1rem;
  }
  .btn {
    display: none;
  }
  .project-photo {
    width: 70vw;
    height: 30vw;
  }
}
/*# sourceMappingURL=App.css.map */