
// table of contents
// 1. default settings
// 2. variables
// 3. mixins
// 4. classes
// 5. tags
// 6. ids
// 7. animations
// 8. media queries

// 1. default settings
@import "./reset";

// 2. variables
@import "./variables";

// 3. mixins
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font-size($size) {
    font-size: $base-font-size * $golden-ratio * $size;
}
@mixin button() {
    cursor: pointer;
    text-decoration: none;
    transition-duration: 300ms;
    background-color: $secondary-color;
    color: $tertiary-color-300;
    padding: .2rem;
    &:focus, &:hover  {
        outline: none;
        background-color: $tertiary-color-300;
        color: $secondary-color;
    }
}


// 4. classes
@import "./classes";

// 5. tags
@import "./tags";

// 6. ids
#project-page {
    animation: project-page 300ms ease-in-out forwards;

}
#about-page {
    animation: project-page 300ms ease-in-out forwards;
    .face-picture-container {
        width: 40%;
        margin: 2rem auto 0;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

// 7. animations
@keyframes project-page {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

// 8. media queries
@media only screen and (min-width: 240px) and (max-width: 720px) {
    .project-list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        @include font-size(2);
    }
    .project {
        width: 100%;
        padding: 1rem;
        margin: 1rem;
    }
    .btn {
        display: none;
    }
    .project-photo {
        width: 70vw;
        height: 30vw;
    }
}