
// table of contents
// 1. default stats
// 2. variables
// 3. mixins
// 4. classes
// 5. tags
// 6. animations
// 7. media queries

// 1. default stats
* {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
}

// 2. variables
$primary-color: hsl(0, 0%, 0%);
$secondary-color: hsl(0, 0%, 100%);
$tertiary-color-50: hsl(39, 100%, 90%);
$tertiary-color-100: hsl(39, 100%, 80%);
$tertiary-color-200: hsl(39, 100%, 50%);
$tertiary-color-300: hsl(39, 100%, 20%);
$tertiary-color-350: hsl(39, 100%, 10%);
$base-font-size: 10px;
$golden-ratio: 1.618;


// 3. mixins
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font-size($size) {
    font-size: $base-font-size * $golden-ratio * $size;
}


// 4. classes
.project-list {
    // I want to set it uo so that the top project has a whole row to itself
    display: grid;
    grid-template-rows: 300px;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(3, 1fr);
}
.main-project {
    grid-area: 1 / span 3;
}
.project {
    border: solid 3px $tertiary-color-200;
    background-color: $secondary-color;
}
.project-name {
    @include font-size(2);
    color: $tertiary-color-300;
}
.project-live-server {
    @include font-size(1);
}
.project-repository {
    @include font-size(1);
}
.buttons-container {};
.btn {
    @include font-size(1);
    width: min-content;
    padding: 10px;
    margin: 10px;
    color: $tertiary-color-350;
    background-color: $secondary-color;
    border: solid 3px $tertiary-color-200;
    &:hover {
        background-color: $tertiary-color-350;
        color: $secondary-color;
    }
}

// 5. tags
body {
    background-color: $tertiary-color-50;
}
header {
    @include font-size(3);
}
h1 {}
img {
}
a {
    text-decoration: none;
    color: $tertiary-color-350;
    &:hover {
        background-color: $tertiary-color-350;
        color: $secondary-color;
    }
}

// 6. animations

// 7. media queries
@media only screen and (min-width: 240px) and (max-width: 720px) {
    .project-list {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        @include font-size(2);
    }
    .project {
        width: max-content;
        padding: 10px;
        margin: 10px;
    }
    .btn {
        display: none;
    }
}